body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    background: rgb(65, 65, 65);
    color: rgb(224, 224, 224);
    
}
form {
	display: grid;
	grid-template-columns: 120px 1fr;
	grid-gap: 20px;
}
form label {
    grid-column: 1 / 2;
    text-align: right;
}
form input,
button {
    grid-column: 2 / 3;
    outline: none;
    font-size: 1.2rem;
}
.create {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
}

.tabs {
    width: 85%;
    float: none;
    list-style: none;
    position: relative;
    text-align: left;
  }
  .tabs li {
    float: left;
    display: block;
  }
  .tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  .tabs li > label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    background: #555555;
    cursor: pointer;
    position: relative;
    top: 4px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .tabs li > label:hover {
    background: #3c3c3c;
  }
  .tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 53px;
    left: 0;
    background: #2f2f2f;
  }
  .tabs [id^="tab"]:checked + label {
    top: 0;
    padding-top: 17px;
    background: #2f2f2f;
  }
  .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }